body, html{
    max-width:600px;
    margin: auto;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: green;
    padding: 10px;
    overflow: hidden;
}

footer {
    background-color: blue;
    border-top: 1px;
    border-top-style: solid;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width:600px;
    text-align: center;
}

h1{
    text-align:center;
}

.game-area {
    text-align:center;
    background-color: white;
    padding:20px;
}

#game-textarea {
    resize:none;
    color:black;
    background-color: thistle;
    height:200px;
    text-align: left;
    padding:10px;
    margin-bottom:10px;
}

#textinput{
    height:30px;
    width: 140px;
    font-size: larger;
    text-align:center;
}

.active-char{
    background-color: yellow;
}

.correct-char{
    color:green;
}

.incorrect-char{
    color:red;
}

#textinput:focus::-webkit-input-placeholder { color:transparent; }
#textinput:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
#textinput:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
#textinput:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
