@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);

html{
    background:url(../img/background-laser3.jpg) no-repeat;
    background-size: cover;
    background-position: center; 
    min-height:200px;  
    margin: 0 auto;
    min-height: 100%;
    max-width: 100%;
}

body{
    max-width:600px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 40px 20px rgba(182, 182, 182, 0.616);
}

header {
    background-color: rgba(245, 245, 245, 0.432);
    overflow: hidden;
    padding-bottom:50px;
    padding-top:20px;
}

h1{
    text-align:center;
}

.logo-main-text {
    font-family: 'Candal', sans-serif;
    font-size: 85px;
    font-style: italic;
    -webkit-text-stroke: 0.1px #fa87f4;
    color: #fff;
    text-shadow: -10px 10px 0px  #fa87f4;
    margin: 0;
    margin-right:25%;

}

.logo-side-text {
    position: absolute;
    left: 49%;
    top: 4%;
    font-family: 'Mr Dafoe', cursive;
    font-size: 90px;
    transform:rotate(-15deg);
    -ms-transform:rotate(-15deg); /* IE 9 */
    -webkit-transform:rotate(-15deg); /* Safari and Chrome */
    color: #ff00f293;
    margin: 0;
    text-shadow: 1px 2px 0px #F9D2D2;
}
  

main{
    background-color: rgba(245, 245, 245, 0.432);
    padding:0px;
    min-height:70%;
    padding:10px;
    padding-bottom:0px;
}

footer {
    background-color: rgba(37, 37, 37, 0.726);
    border-top: 2px;
    border-top-color:  #ff00f293;
    border-top-style: solid;
    padding-top:10px;
    padding-bottom:10px;
    position: fixed;
    bottom: 0;
    width:600px;
    text-align: center;
}

footer span{
    font-size: 1.1em;
    float:left;
    margin-left:20px;
    color:white;
}
footer a{
    font-size:1.1em;
    color: white;
    float:right;
    margin-right:20px;
}

#selected-text-title{
    margin:0;
    font-style: italic;
    font-family: 'Candal', sans-serif;
    text-decoration: underline;
}

#selected-text-info{
    font-size:1.1em;
    margin-top:5px;
}

.game-area {
    text-align:center;
    padding:20px;
    background-color: rgba(250, 250, 250, 0.733);
    box-shadow: 0px 0px 40px 10px rgba(207, 207, 207, 0.89);
    border-radius: 10px;
}

#game-textarea {
    resize:none;
    color:black;
    height:200px;
    text-align: left;
    padding:10px;
    margin-bottom:10px;
    font-size: 1.24em;
}

.active-char{
    background-color: rgba(255, 7, 193, 0.52);
}

.correct-char{
    color:rgb(98, 98, 98);
}

.incorrect-char{
    color:red;
}

#textinput{
    height:30px;
    width: 140px;
    font-size: larger;
    text-align:center;
    border-width: 2px;
    border-style: solid;
    border-color: #ff00f2;
    border-radius: 10px;
    margin-top:8px;
    margin-bottom:10px;
    box-shadow: 0px 0px 15px 1px rgba(255, 0, 221, 0.37);
}

#textinput:disabled{
    background-color: rgb(200, 200, 200);
    border-color:#b83dba;
    box-shadow: none;
}

#textinput span{
    font-size: 10em;
}

#textinput:focus::-webkit-input-placeholder { color:transparent; }
#textinput:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
#textinput:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
#textinput:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.play-game-btn{
    margin-left:20px;
    position: absolute;
    top:508px;
    background: url("../img/playgamebtn.png") no-repeat;
    background-size: cover;
    cursor: pointer;
    border:none;
    width:36px;
    height:36px;
}

.play-game-btn.stop{
    background: url("../img/pausegamebtn.png");
    background-size: cover;
}

.stats-text-area{
    padding-top:10px;
    width:40%;
    Text-align:right;

    height:90px;
}
